<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LGTabbar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB7FF26F1DE28513004A18C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB7FF2831DE28513004A18C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB7FF28E1DE28513004A18C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
